*{margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
/*universal traits*/

/*navbar stuff*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(90deg, rgba(254,177,2,1) 0%, rgba(228,138,51,1) 27%, rgba(184,119,0,1) 100%);
}

nav>h1{
    color: white;
    margin: 15px;
    
    text-transform: uppercase;
    letter-spacing: 15px;
    font-size: 30px;
}


.links{
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    background:#ff8c00;
    width: 10%;
}

.links:hover{
            border: solid 4px white;
            text-transform: uppercase;
            font-size: 30px;
            border-top: none;
            border-bottom: none;
}

.links li{
    list-style: none;
}

.links a{
    color: #f7f3e9;
    
    text-decoration: none;
    letter-spacing: 6px;
    font-weight: bold;
}

/*navbar stuff*/


/*footer stuff*/
.bottom-nav{
    font-family: 'Cinzel', serif;
    background: linear-gradient(90deg, rgb(160, 119, 24) 0%, rgb(169, 82, 2) 27%, rgba(184,119,0,1) 100%);
}

.bottom{
    color: white;
    
    letter-spacing: 15px;
    font-size: 15px;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
}



.bottom-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    
    font-size: 40px;
}

.bottom-links li{
    list-style: none;
}

.bottom-links a{
    color: #f7f3e9;
    
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: bold;
}

 .attention{
    color: #c44949;
    
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
   
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px rgb(90, 85, 85);
    text-decoration:underline;
    margin-left: 55px;
    margin-top: 40px;
 }   

 
 footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}


 /*footer stuff*/

 /*contact page lettering*/

 p{
    color: #eb9155;
    
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 4px;
   
    text-shadow: 2px 2px rgb(90, 85, 85);
    text-decoration: none;
    margin-left: 55px;
    margin-top: 40px;

    background-color: #e4d4d4;
    outline-color: #ff8c00;
    outline-style: groove;
    outline-width: 3px;
    
    max-width: 30%;
 }   

/*contact page lettering*/


/*footer positioning*/

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap{
    padding-bottom: 2.5rem;
}

/*footer positioning*/


/*logo*/
#Logo{
    height: 6.5vh;
    width: 7vh;
    position: absolute;
    left: 10px;
    top: 10px;
}

#Logo:hover{
    transform: scale(1.3);
}
/*logo*/

/*map settings*/
iframe{
    outline: auto;
    outline-color: #ff8c00;
   
    margin-left: 55px;
    margin-top: 40px;
}
/*map settings*/


/*about picture and page layout*/
.about-section{
    color: #f7f3e9;
    
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 30px;
    
    text-align: center;
    text-shadow: 2px 2px black;
    margin-top: 25px;
    text-decoration: underline;
}

.about-section>a>img{
                    margin-top: 15px;
                    
                    outline: #ff8c00;
                    outline-style: groove;
                    outline-width: 5px;
}

.about-section>a>img:hover{
    border: solid 2px white;
    transform: scale(1.25);
}

.about{
    color: #f7f3e9;
    
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 30px;
        
    text-align: center;
    text-shadow: 2px 2px black;
    margin-left: 30%;
    margin-top: 10px;
    
    background: linear-gradient(90deg, rgb(160, 119, 24) 0%, rgb(169, 82, 2) 27%, rgba(184,119,0,1) 100%);
    max-width: 40%;
}

.repeat-abt{
    color: #f7f3e9;
    
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 20px;
        
    text-align: center;
    text-shadow: 2px 2px black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30%;
    
    background: linear-gradient(90deg, rgb(145, 96, 5) 0%, rgba(228,138,51,1) 27%, rgb(186, 70, 7) 100%);
    max-width: 40%;

    outline: auto;
    outline-color: #c44949;
    outline-style: groove;
}

/*about picture and page layout*/


/*Hero image redefined*/
.interest>img{
        margin-left: 38%;
        position: absolute;
        top: 35%;
        
        outline:#ff8c00;
        outline-style: groove;
        outline-width: 10px;
        
        backdrop-filter: blur(15px);
        opacity: 0.8;
}

.interest>img:hover{
    opacity: 1;
}

.btn{
    color: white;
    background-color:#ff8c00;
    position: absolute;
    width: 10%;
    padding: 12px 24px;
    
    margin-left: 46%;
    margin-top: 19.5%;
    font-size: 16px;
    font-family: 'Cinzel', serif;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn:hover{
    background-color: black;
    transform: scale(1.25);
}

/*Hero image redefined*/


/*Style changes to clickable objects and putting background video in right place*/
.fa-brands:hover{
    border: groove 4px white;
    border-top: none;
    border-bottom: none;
    transform: scale(1.25);
}

.Active {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  /*Style changes to clickable objects and putting background video in right place*/
  
  
  /*Reminder fine print*/
  .Fine {
    color: #f7f3e9;
    position: absolute;
    margin-left: 38vh;
    
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px black;
    
    outline: none;
    background:none;
  }
/*Reminder fine print*/


/*Picture on contact page*/
.contact{
            position:absolute;
            top: 76%;
            left: 34%;
  }


.Fine:hover{
            text-transform: uppercase;
            font-size: 20px;
}